.button {
  background-color: var(--red);
  border-radius: 4px;
  border: none;
  color: white;
}

.button--small {
  font-size: 15px;
  height: 30px;
  padding: 9px 25px 6px 25px;
  background-color: var(--red);
}

.button--big {
  font-size: 19px;
  height: 40px;
  padding: 11px 34px 10px 34px;
  background-color: var(--red);
}

.button--fav {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 11px 34px 10px 34px;
  background-color: transparent;
  border: 1px solid var(--red);
}
