.heroBanner {
  min-height: 490px;
  background-image: url("./../../imgs/heroImg.png");
  display: flex;
}

.heroBannerContent {
  margin: auto;
}

.heroBanner h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 29px;
  color: white;
}

.heroBannerContent button {
  display: block;
  margin: auto;
}
